.board {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row > div {
  max-width: 100px;
  max-height: 100px;
  min-width: 12px;
}
.row > div:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.row > div.white {
  background: #fff;
}
.row > div.black {
  background: #aa5c23;
}
.row > div.active {
  background: #6aff00;
}
.steps-result {
  margin-bottom: 40px;
}
button {
  padding: 10px 40px;
  font-size: 20px;
}
.form-control {
  margin-bottom: 20px;
}
.form-label {
  width: 240px;
  display: inline-block;
  text-align: left;
  font-weight: 500;
}
.field > input {
  padding: 10px 10px;
  font-size: 20px;
}
.error {
  padding-top: 10px;
  padding-bottom: 4px;
  color: red;
  font-size: 16px;
}
.steps-left {
  margin-bottom: 20px;
  font-size: 20px;
}